In [1]:
import pandas as pd
import numpy as np
import dtale as dt

In [2]:
df = pd.read_csv("data_converted.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [3]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [4]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [5]:
numerical_col= []
obj_col = []
for col in df.columns:
    if(df[col].dtypes=="float" or df[col].dtypes=="int" ):
        numerical_col.append(col)
    else:
        obj_col.append(col)
print("no object col:",numerical_col)
print("object col:",obj_col)

no object col: ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
object col: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

In [6]:
df1 =df.copy()
df1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

# Label Encoding for Tree base algo

In [7]:
from sklearn.preprocessing import LabelEncoder

l_e = LabelEncoder()
for obj in obj_col:
    df1[obj] = l_e.fit_transform(df1[obj])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  int64
 2   marital    45211 non-null  int64
 3   education  45211 non-null  int64
 4   default    45211 non-null  int64
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  int64
 7   loan       45211 non-null  int64
 8   contact    45211 non-null  int64
 9   day        45211 non-null  int64
 10  month      45211 non-null  int64
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  int64
 16  y          45211 non-null  int64
dtypes: int64(17)
memory usage: 5.9 MB

# Train Test Split data

In [8]:
y= df1['y']
X = df1.drop(["y"],axis=1)
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42, shuffle= True)

# Hyperparamert Tunning for Xgboost

In [26]:
from xgboost import XGBClassifier
xgb = XGBClassifier(learning_rate=0.02, n_estimators=600, objective='binary:logistic')

In [27]:
# A parameter grid for XGBoost
params = {
        'min_child_weight': [1, 5, 10, 15, 20],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [30, 40, 50, 60]
        }

In [28]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold
folds = 3
param_comb = 5

skf = StratifiedKFold(n_splits=folds, random_state = 1001)

random_search = RandomizedSearchCV(xgb, param_distributions=params, n_iter=param_comb, scoring='roc_auc', n_jobs=-1, cv=skf.split(X_train, y_train), verbose=3, random_state=1001 )

random_search.fit(X_train, y_train)

Fitting 3 folds for each of 5 candidates, totalling 15 fits

/Users/abhinavkumar/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:293: FutureWarning:

Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of  15 | elapsed:  1.5min remaining:  4.2min
[Parallel(n_jobs=-1)]: Done  10 out of  15 | elapsed:  2.9min remaining:  1.4min
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:  3.2min finished
/Users/abhinavkumar/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning:

The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].

[18:10:39] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

RandomizedSearchCV(cv=<generator object _BaseKFold.split at 0x7f87d8824660>,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=0.02,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing...
                                           random_state=None, reg_alpha=None,
                                           reg_lambda=None,
                                           scale_pos_weight=None,
                                           subsample=None, tree_method=None,
                                           validate_parameters=None,
                                           verbosity=None),
                   n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.6, 0.8, 1.0],
                                        'gamma': [0.5, 1, 1.5, 2, 5],
                                        'max_depth': [30, 40, 50, 60],
                                        'min_child_weight': [1, 5, 10, 15, 20],
                                        'subsample': [0.6, 0.8, 1.0]},
                   random_state=1001, scoring='roc_auc', verbose=3)

In [29]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results.to_csv('xgb-random-grid-search-results-01.csv', index=False)

 All results:
{'mean_fit_time': array([ 89.9156189 ,  57.18067273, 161.31819884, 170.13534196,
       129.9141024 ]), 'std_fit_time': array([0.53779329, 0.22229362, 1.14967991, 0.60368518, 0.1899598 ]), 'mean_score_time': array([0.06710784, 0.06390985, 0.08606823, 0.12319517, 0.07658966]), 'std_score_time': array([0.00099405, 0.00380724, 0.01272579, 0.01023495, 0.00712894]), 'param_subsample': masked_array(data=[0.8, 0.6, 0.8, 0.8, 1.0],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[10, 15, 1, 1, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[50, 30, 60, 60, 60],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[5, 2, 5, 2, 2],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[1.0, 0.6, 0.6, 0.8, 0.6],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'subsample': 0.8, 'min_child_weight': 10, 'max_depth': 50, 'gamma': 5, 'colsample_bytree': 1.0}, {'subsample': 0.6, 'min_child_weight': 15, 'max_depth': 30, 'gamma': 2, 'colsample_bytree': 0.6}, {'subsample': 0.8, 'min_child_weight': 1, 'max_depth': 60, 'gamma': 5, 'colsample_bytree': 0.6}, {'subsample': 0.8, 'min_child_weight': 1, 'max_depth': 60, 'gamma': 2, 'colsample_bytree': 0.8}, {'subsample': 1.0, 'min_child_weight': 1, 'max_depth': 60, 'gamma': 2, 'colsample_bytree': 0.6}], 'split0_test_score': array([0.9333534 , 0.9310147 , 0.9346164 , 0.93289394, 0.93261721]), 'split1_test_score': array([0.93198693, 0.9290033 , 0.93386629, 0.93251282, 0.93286955]), 'split2_test_score': array([0.93267584, 0.9301456 , 0.93498865, 0.93167309, 0.93335009]), 'mean_test_score': array([0.93267205, 0.93005453, 0.93449045, 0.93235995, 0.93294562]), 'std_test_score': array([0.00055787, 0.00082367, 0.00046677, 0.00051   , 0.00030399]), 'rank_test_score': array([3, 5, 1, 4, 2], dtype=int32)}

 Best estimator:
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, gamma=5, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.02, max_delta_step=0, max_depth=60,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=600, n_jobs=12, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
              tree_method='exact', validate_parameters=1, verbosity=None)

 Best normalized gini score for 3-fold search with 5 parameter combinations:
0.8689808949822895

 Best hyperparameters:
{'subsample': 0.8, 'min_child_weight': 1, 'max_depth': 60, 'gamma': 5, 'colsample_bytree': 0.6}

# Predicting values

In [30]:
pred= random_search.predict(X_test)
auc_score1 = roc_auc_score(y_test, pred)
print(auc_score1)

0.7195187679233841

In [41]:
model_xgb = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, gamma=5, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.02, max_delta_step=0, max_depth=60,
              min_child_weight=1,  monotone_constraints='()',
              n_estimators=600, n_jobs=12, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [42]:
model_xgb.fit(X_train, y_train)

[18:24:13] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, gamma=5, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.02, max_delta_step=0, max_depth=60,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=600, n_jobs=12, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [43]:
pred= model_xgb.predict(X_test)
auc_score1 = roc_auc_score(y_test, pred)
print(auc_score1)

0.7195187679233841

In [44]:
import pickle
pickle.dump(model_xgb , open( "xgb_model.sav", "wb" ) )

# Hyperameter Tunning Random Forest

In [20]:
from sklearn.ensemble import RandomForestClassifier
# A parameter grid for 
param= {
    'bootstrap': [True],
    'max_depth': [10, 50,80, 90, 100, 110],
    'max_features': [2, 3,4,5,6,7,8,9,10,11,12,13,14,15],
    'min_samples_leaf': [3, 4, 5,6,7],
    'min_samples_split': [8, 10, 12,13,16],
    'n_estimators': [100, 200, 300,400,500,600,700,800,900, 1000]
}
# Create a based model
rf = RandomForestClassifier()

In [21]:
folds = 3
param_comb = 5

skf = StratifiedKFold(n_splits=folds, random_state = 100)

random_search = RandomizedSearchCV(rf, param_distributions=param, n_iter=param_comb, scoring='roc_auc', n_jobs=-1, cv=skf.split(X_train, y_train), verbose=2, random_state=100)

random_search.fit(X_train, y_train)

Fitting 3 folds for each of 5 candidates, totalling 15 fits

/Users/abhinavkumar/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:293: FutureWarning:

Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   8 out of  15 | elapsed:   18.4s remaining:   16.1s
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:   40.8s finished

RandomizedSearchCV(cv=<generator object _BaseKFold.split at 0x7f87d9c14040>,
                   estimator=RandomForestClassifier(), n_iter=5, n_jobs=-1,
                   param_distributions={'bootstrap': [True],
                                        'max_depth': [10, 50, 80, 90, 100, 110],
                                        'max_features': [2, 3, 4, 5, 6, 7, 8, 9,
                                                         10, 11, 12, 13, 14,
                                                         15],
                                        'min_samples_leaf': [3, 4, 5, 6, 7],
                                        'min_samples_split': [8, 10, 12, 13,
                                                              16],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000]},
                   random_state=100, scoring='roc_auc', verbose=2)

In [22]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results.to_csv('random-forest-random-grid-search-results-01.csv', index=False)

 All results:
{'mean_fit_time': array([ 5.59647028, 15.22930296, 37.75211763, 15.09492628, 26.14435967]), 'std_fit_time': array([0.02992067, 0.03212849, 0.248407  , 0.08055123, 0.26155186]), 'mean_score_time': array([0.16838733, 1.45058139, 1.0224522 , 1.40892069, 0.60184741]), 'std_score_time': array([0.001785  , 0.00114895, 0.00314899, 0.00466113, 0.00232523]), 'param_n_estimators': masked_array(data=[100, 800, 1000, 1000, 500],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_split': masked_array(data=[16, 16, 10, 12, 8],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_leaf': masked_array(data=[5, 5, 5, 4, 4],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=[10, 2, 8, 2, 11],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[50, 100, 90, 10, 100],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_bootstrap': masked_array(data=[True, True, True, True, True],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_estimators': 100, 'min_samples_split': 16, 'min_samples_leaf': 5, 'max_features': 10, 'max_depth': 50, 'bootstrap': True}, {'n_estimators': 800, 'min_samples_split': 16, 'min_samples_leaf': 5, 'max_features': 2, 'max_depth': 100, 'bootstrap': True}, {'n_estimators': 1000, 'min_samples_split': 10, 'min_samples_leaf': 5, 'max_features': 8, 'max_depth': 90, 'bootstrap': True}, {'n_estimators': 1000, 'min_samples_split': 12, 'min_samples_leaf': 4, 'max_features': 2, 'max_depth': 10, 'bootstrap': True}, {'n_estimators': 500, 'min_samples_split': 8, 'min_samples_leaf': 4, 'max_features': 11, 'max_depth': 100, 'bootstrap': True}], 'split0_test_score': array([0.92511697, 0.92035644, 0.92612776, 0.91462542, 0.92482161]), 'split1_test_score': array([0.92623249, 0.92316327, 0.92810623, 0.91782049, 0.92643672]), 'split2_test_score': array([0.92594332, 0.9214299 , 0.92687389, 0.91443846, 0.92553488]), 'mean_test_score': array([0.92576426, 0.92164987, 0.92703596, 0.91562812, 0.92559774]), 'std_test_score': array([0.00047268, 0.00115639, 0.0008158 , 0.00155211, 0.00066086]), 'rank_test_score': array([2, 4, 1, 5, 3], dtype=int32)}

 Best estimator:
RandomForestClassifier(max_depth=90, max_features=8, min_samples_leaf=5,
                       min_samples_split=10, n_estimators=1000)

 Best normalized gini score for 3-fold search with 5 parameter combinations:
0.8540719149702545

 Best hyperparameters:
{'n_estimators': 1000, 'min_samples_split': 10, 'min_samples_leaf': 5, 'max_features': 8, 'max_depth': 90, 'bootstrap': True}

In [23]:
model_rf = RandomForestClassifier(max_depth=90, max_features=8, min_samples_leaf=5,
                       min_samples_split=10, n_estimators=1000)

In [45]:
model_rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=90, max_features=8, min_samples_leaf=5,
                       min_samples_split=10, n_estimators=1000)

In [46]:
pred= model_rf.predict(X_test)
auc_score1 = roc_auc_score(y_test, pred)
print(auc_score1)

0.7085451959525707

In [48]:
pickle.dump(model_rf,open("rf_model.sav",'wb'))

# Hyperparameter tunning for CatBoost